<!doctype html>
<html  class="x-admin-sm">
<head>
	<meta charset="UTF-8">
	<title>学生学习质量监测系统</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
	<link rel="stylesheet" href="{% static 'css/xadmin.css' %}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'lib/layui/layui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/xadmin.js' %}"></script>
</head>
<body>
    <!-- 以下隐藏input是为了实现jsp全局变量引入到js中便于layui url传值 -->
	<input type="hidden" id="sid" value="{{student.id}}">
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo">
            <a href="{% url 'xadmin:student' student.id %}">学生学习质量监测系统 </a>
        </div>
        <ul class="layui-nav right" lay-filter="">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    {{student.info}}
                </a>
                <dl class="layui-nav-child">
                    <!-- 二级菜单 -->
                    <dd>
                        <a onclick="x_admin_show('个人信息','http://www.baidu.com')">个人信息</a>
                    </dd>
                    <dd>
                        <a href="{% url 'xadmin:login' %}">退出登录</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item to-index">
                <a href="{% url 'xadmin:student' student.id %}">首页</a>
            </li>
        </ul>
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
    <!-- 右侧主体开始 -->
    <div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space5">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <blockquote class="layui-elem-quote">
                                你的学习质量评级为:{{student.level}}
                            </blockquote>
	                        <table class="layui-hide" id="test" lay-filter="test"></table>   
                            <blockquote class="layui-elem-quote">
                                建议：{{student.advice}}
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	
	    <script>
	    layui.use(['table','jquery'], function(){
	      //jquery取值
	      var sid = $("#sid").val();
        
	      var table = layui.table;  
	      var $$=layui.jquery;
	      table.render({
	        elem: '#test'
	        ,url:'/studentapi/' + sid
	        ,title: '用户数据表'
	        ,cols: [[
	          {field:'id', title:'学号',  fixed: 'left', unresize: true, sort: true}
	          ,{field:'name', title:'姓名'}
	          ,{field:'video_watching_counts', title:'视频观看个数'}
	          ,{field:'video_watching_seconds', title:'视频观看时长'}
	          ,{field:'course_discuss_related', title:'相关评论数'}
	          ,{field:'course_discuss_unrelated', title:'无关评论数'}
	          ,{field:'discuss_topic_numbers', title:'评论区主题数'}
	          ,{field:'discussion_comment_and_reply_numbers', title:'讨论区评论和回复数'}
	          ,{field:'spoc_score', title:'慕课成绩'}
	          ,{field:'test_mean', title:'单元测试平均成绩'}
	          ,{field:'level', title:'学习质量等级'}
	        ]]
	      });
	    });	//layui.use结束
	    </script>
    </div>
    <div class="page-content-bg"></div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
</body>
</html>